<div>
  <div class="conductor_container">
    <div class="conductor_title">
      <h3>Enter Ticket Details</h3>
      <h3>Summary</h3>
    </div>
    <div class="conductor_form" [formGroup]="etmForm">
      <div class="left">
        <form>
          <div class="mb-3 field1">
            <label for="source" class="form-label">Current Station</label>
            <select id="source" formControlName="Stop" class="form-control">
              <option *ngFor="let station of stations"  [value]="station">{{station}}</option>
            </select>
          </div>
          <div class="mb-3 field1">
            <label for="quantity" class="form-label">Number of Tickets</label>
            <input type="number" class="form-control" name="quantity" id="source" formControlName="Count">
          </div>
        </form>
      </div>
      <div class="right">
        <div class="field1">
          <p>Stop</p>
          <p>{{etmForm.value.Stop}}</p>
        </div>
        <div class="field1">
          <p>TimeStamp</p>
          <p>{{etmForm.value.TimeStamp}}</p>
        </div>
        <div class="field1">
          <p>Date</p>
          <p>{{etmForm.value.Date}}</p>
        </div>
        <div class="field1">
          <p>Count</p>
          <p>{{etmForm.value.Count}}</p>
        </div>
        <button type="button" class="btn btn-primary" (click)="submitData(etmForm.value)">Submit</button>
      </div>
    </div>
  </div>
</div>
