<!-- <div>
  <button type="button" class="btn btn-primary" (click)="mGetData()">Get Data</button>
  <button type="button" class="btn btn-primary" (click)="mPutData()">Put Data</button>
  <button type="button" class="btn btn-primary" (click)="mGetAccounts()">Get Accounts</button>
</div> -->
<nav>
  <ul>
    <li><a routerLink="/conductor">Conductor</a></li>
    <li><a routerLink="/usermap">User Map</a></li>
  </ul>
</nav>
<img class="background_img" src="../assets/img/image 2.svg" alt="world map">
<router-outlet></router-outlet>
